
@{
    ViewData["Title"] = "Index";
}

<h1>Farmers</h1>
<a href="@Url.Action("Create","Product")">Add Product</a>

<table class="table table-bordered table-striped" >
    <tr>
        <th>Farmer ID</th>
       <th>Farmer Name</th>
  </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
             <td>@Model.Rows[i][2]</td>
            <td>
                <a href="@Url.Action("Delete", "Farmer", new {@id=@Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }
</table>



